/* Variables example
$primary-color: #333;
*/

// Colors
$test-color : #282c34;
$bag-color: #f5f6f9;

// Fonts
$title-weigth: 700;


// Font Family
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');