/* Variables example
$primary-color: #333;
*/

// Main Colors
$lambda-red: #bb1333;
$contrast-red: #73011e;
$lambda-blue: #002070;
$contrast-blue: #00113a;
$bag-color: #f5f6f9;

$dark-color: #000000;
$light-color: #FFFFFF;

//fonts and links colors
$font-color: #181F22;
$link-color: #bb1333;

// Fonts
$title-weigth: 700;

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}


// Font Family
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');