// Global scss

/* Variables example
$primary-color: #333;
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $bag-color;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: $title-weigth;
    /* Sass - Test delete it anytime */
}


.btn-blue {
    background-color: $lambda-blue;
    font-weight: 700;
    color: $light-color;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px 22px;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: $contrast-blue;
    }
}