.top-bar {
    @include box-align(space-around, center);
    padding: 10px;
    background-color: $light-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;

    .hl-logo {
        width: 100%;
        height: auto;
        max-width: 150px;
    }

}